// Color palette
// fae3a0-f1faaa-dafac4-c8faeb-cdf8fa-d2effa-d7e1fa-ecdcfa-fadee7-ffdada
// DARK 7c7250-7b8052-688658-59887a-5a8589-5a7f8c-5d678b-786189-8b6270-955858
$medium-champagne: #fae3a0ff;
$lemon-yellow-crayola: #f1faaaff;
$tea-green: #dafac4ff;
$aero-blue: #c8faebff;
$light-cyan: #cdf8faff;
$columbia-blue: #d2effaff;
$lavender-web: #d7e1faff;
$pale-purple-pantone: #ecdcfaff;
$piggy-pink: #fadee7ff;
$pale-pink: #ffdadaff;

:root .donotuse{
  --medium-champagne: #fae3a0ff;
  --lemon-yellow-crayola: #f1faaaff;
  --tea-green: #dafac4ff;
  --aero-blue: #c8faebff;
  --light-cyan: #cdf8faff;
  --columbia-blue: #d2effaff;
  --lavender-web: #d7e1faff;
  --pale-purple-pantone: #ecdcfaff;
  --piggy-pink: #fadee7ff;
  --pale-pink: #ffdadaff;
}

// 8c6354-8c7254-8c8254-828c54-7b9277-7d948f-7c8a99-7e7c99-977c93-987273
$rose-taupe: #8c6354ff;
$french-bistre: #8c7254ff;
$gold-fusion: #8c8254ff;
$moss-green: #828c54ff;
$russian-green: #7b9277ff;
$morning-blue: #7d948fff;
$light-slate-gray: #7c8a99ff;
$rhythm: #7e7c99ff;
$mountbatten-pink: #977c93ff;
$burnished-brown: #987273ff;
:root .donotuse{
  --rose-taupe: #8c6354ff;
  --french-bistre: #8c7254ff;
  --gold-fusion: #8c8254ff;
  --moss-green: #828c54ff;
  --russian-green: #7b9277ff;
  --morning-blue: #7d948fff;
  --light-slate-gray: #7c8a99ff;
  --rhythm: #7e7c99ff;
  --mountbatten-pink: #977c93ff;
  --burnished-brown: #987273ff;
}

// 009688-4caf50-03a9f4-9c27b0-00bcd4-ffc107-ff9800-ff5722
$persian-green: #009688ff;
$green-pantone: #4caf50ff;
$blue-jeans: #03a9f4ff;
$purple-munsell: #9c27b0ff;
$pacific-blue: #00bcd4ff;
$mikado-yellow: #ffc107ff;
$yellow-orange-color-wheel: #ff9800ff;
$red-orange-color-wheel: #ff5722ff;

:root .donotuse{
  --persian-green: #009688ff;
  --green-pantone: #4caf50ff;
  --blue-jeans: #03a9f4ff;
  --purple-munsell: #9c27b0ff;
  --pacific-blue: #00bcd4ff;
  --mikado-yellow: #ffc107ff;
  --yellow-orange-color-wheel: #ff9800ff;
  --red-orange-color-wheel: #ff5722ff;
}

// 797d62-9b9b7a-baa587-d9ae94-f1dca7-ffcb69-e8ac65-d08c60-b58463-997b66
$xanadu-d: #797d62ff;
$artichoke-d: #9b9b7aff;
$khaki-web: #baa587ff;
$tumbleweed: #d9ae94ff;
$banana-mania: #f1dca7ff;
$maximum-yellow-red: #ffcb69ff;
$earth-yellow: #e8ac65ff;
$raw-sienna-d: #d08c60ff;
$cafe-au-lait-d: #b58463ff;
$beaver-d: #997b66ff;

:root {
  --xanadu-d: #797d62ff;
  --artichoke-d: #9b9b7aff;
  --khaki-web: #baa587ff;
  --tumbleweed: #d9ae94ff;
  --banana-mania: #f1dca7ff;
  --maximum-yellow-red: #ffcb69ff;
  --earth-yellow: #e8ac65ff;
  --raw-sienna-d: #d08c60ff;
  --cafe-au-lait-d: #b58463ff;
  --beaver-d: #997b66ff;
}

// 009688-4caf50-03a9f4-9c27b0-00bcd4-ffc107-ff9800-ff5722
$persian-green-d: #009688ff;
$green-pantone-d: #4caf50ff;
$blue-jeans-d: #03a9f4ff;
$purple-munsell-d: #9c27b0ff;
$pacific-blue-d: #00bcd4ff;
$mikado-yellow: #ffc107ff;
$yellow-orange-color-wheel: #ff9800ff;
$red-orange-color-wheel-d: #ff5722ff;

:root {
  --persian-green-d: #009688ff;
  --green-pantone-d: #4caf50ff;
  --blue-jeans-d: #03a9f4ff;
  --purple-munsell-d: #9c27b0ff;
  --pacific-blue-d: #00bcd4ff;
  --mikado-yellow: #ffc107ff;
  --yellow-orange-color-wheel: #ff9800ff;
  --red-orange-color-wheel-d: #ff5722ff;
}

